@model SpodIglyMVC.Models.Order

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle{
    Uzupełnij dane zamówienia
}


@using (@Html.BeginForm("Checkout", "Cart"))
{
<table id="checkout-address-table">
    <tr>
        <td>@Html.LabelFor(l => l.FirstName, "Imię:")</td>
        <td>@Html.TextBoxFor(t => t.FirstName)</td>
        <td>@Html.ValidationMessageFor(m => m.FirstName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(l => l.LastName, "Nazwisko:")</td>
        <td>@Html.TextBoxFor(t => t.LastName)</td>
        <td>@Html.ValidationMessageFor(m => m.LastName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(l => l.Address, "Adres:")</td>
        <td>@Html.TextBoxFor(t => t.Address)</td>
        <td>@Html.ValidationMessageFor(m => m.Address)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(l => l.CodeAndCity, "Kod i miasto:")</td>
        <td>@Html.TextBoxFor(t => t.CodeAndCity)</td>
        <td>@Html.ValidationMessageFor(m => m.CodeAndCity)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(l => l.PhoneNumber, "Numer telefonu:")</td>
        <td>@Html.TextBoxFor(t => t.PhoneNumber)</td>
        <td>@Html.ValidationMessageFor(m => m.PhoneNumber)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(l => l.Email, "Adres e-mail:")</td>
        <td>@Html.TextBoxFor(t => t.Email)</td>
        <td>@Html.ValidationMessageFor(m => m.Email)</td>
    </tr>
    <tr>
        <td><label for="comment">Uwagi</label></td>
        <td>
            <textarea cols="40" rows="3" name="comment">@Model.Comment</textarea>
        </td>
    </tr>
</table>

@Html.ValidationSummary()

    <hr style="margin-bottom: 50px;" />

    <div class="section-button-container">
        <a class="button-link" href="">Wróć</a>
        <input type="submit" class="button-link" style="" value="Potwierdź" />
    </div>
}
